# Backend URL (Your Render URL)
VITE_APP_URL=https://nutriscan-backend-671q.onrender.com

# API Keys
GEMINI_API_KEY=
HF_API_KEY=

# MongoDB Connection String
MONGO_URI=mongodb+srv://padilamnaveen_db_user:6lDAO3ZhW8divba4@cluster0.i5rfo3j.mongodb.net/?appName=Cluster0
